{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div id="loading">
  <center><span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Loading...</center>
</div>
<form id="bounty-for">
  <div id="bounty-status-box" class="hidden well">
    <label id="bounty-status-label" for="bounty-status">
      {% trans "Select your bounty status" %}
    </label>
    <small>
      <p class="help-block">{% trans "Your bounty starts in open status. Then, if you decided that the bounty is a success, close it. You can also cancel for any reason.<br>For information, when a bounty is cancelled or closed, you can't re-open it." %}</p>
    </small>
    <select class="form-control" id="bounty-status">
      <option value="1" selected>{% trans "Open" %}</option>
      <option value="2">{% trans "Closed" %}</option>
      <option value="3">{% trans "Cancelled" %}</option>
    </select>
    <div id="winner-box" class="hidden">
      <br>
      <p class="help-block">{% trans "If your bounty finally closed, we really encourage you to set the winner just bellow!" %}</p>
      <!-- Winner Realm -->
      <label id="winner-realms-label" for="winner-realms">
        {% trans "Winner realm" %}
      </label>
      <select class="form-control" id="winner-realms">
        <option value="">---</option>
      </select>
      <br>
      <br>
      <!-- End block -->
      
      <!-- Winner character -->
      <label id="winner-character-label" for="winner-character">
        {% trans "Winner name" %}
      </label>
      <input id="winner-character" class="form-control" type="text" />
      <br>
      <!-- End block -->
    </div>
  </div>

  

  <!-- Player Character -->
  <label id="player-characters-label" for="player-characters" class="hidden">
    {% trans "Choose your character that will be the bounty author" %}
  </label>
  <select class="form-control hidden" id="player-characters">
    <option value="">---</option>
  </select>
  <br>
  <br>
  <!-- End block -->

  <!-- Realm -->
  <label id="realms-label" for="realms" class="hidden">
    {% trans "Select the target realm" %}
  </label>
  <select class="form-control hidden" id="realms">
    <option value="">---</option>
  </select>
  <br>
  <br>
  <!-- End block -->
  
  <!-- Destination character -->
  <label id="destination-character-label" for="realms" class="hidden">
    {% trans "Write his name" %}
  </label>
  <input id="destination-character" class="form-control hidden" type="text" />
  <br>
  <label for="reward" id="reward-label" class="hidden">
    {% trans "Choose the reward" %}
  </label>
  <small class="help hidden">
    <p class="help-block">{% trans "Markdown allowed." %}</p>
  </small>
  <textarea class="form-control hidden" id="reward" rows="4" cols="50"></textarea>
  <br>
  <label for="description" id="description-label" class="hidden">
    {% trans "Describe the bounty motivation and kill conditions" %}
  </label>
  <small class="help hidden">
    <p class="help-block">{% trans "Markdown allowed." %}</p>
  </small>
  <textarea class="form-control hidden" id="description" rows="4" cols="50"></textarea>
  <br>
  <div class="checkbox hidden" id="is-private">
    <label>
      <input id="is-private-input" type="checkbox"> {% trans "Is your bounty private?" %}
    </label>
    <small class="help hidden">
      <p class="help-block">{% trans "Your bounty will not be visible in other unless you share link." %}</p>
    </small>
  </div>
  <br>
  <div class="pull-right">
    <a id="bounty-return" href="#" class="btn btn-link hidden">{% trans "Return to bounty" %}</a>
    <button
        class="btn btn-success pull-right hidden"
        data-loading-text="{% trans 'Loading...' %}"
        id="save">
        {% trans "Save" %}
    </button>
  </div>
</form> 
<!-- End block -->


{% endblock %}

{% block javascripts %}
<script>
  var selectedStatus = null;
  var selectedRegion = null;
  var selectedSourceRealm = null;
  var selectedSourceCharacter = null;
  var selectedDestinationRealm = null;
  var selectedDestinationCharacter = null;
  var selectedWinnerRealm = null;
  var selectedWinnerCharacter = null;
  var reward = '';
  var description = '';
  var isPrivate = false;

  function loadBounty(id) {
    $.ajax({
      url: "/api/bounty/" + id,
      dataType: 'json',
      success: function(data) {
        getRealms(data.region, function() {
          selectedRegion = data.region;
          selectedSourceRealm = data.source_realm;
          selectedSourceCharacter = data.source_character;
          selectedDestinationRealm = data.destination_realm;
          selectedDestinationCharacter = data.destination_character;
          selectedWinnerRealm = data.winner_realm;
          selectedWinnerCharacter = data.winner_character;
          reward = data.reward;
          description = data.description;
          selectedStatus = data.status;
          isPrivate = data.is_private;

          // Set bounty
          $("#bounty-return").attr('href', '/bounty/' + id).removeClass('hidden');
          $("select#player-characters option").filter(function() {
              return $(this).val() == data.region + '|' + data.source_realm + '|' + data.source_character; 
          }).prop('selected', true);
          $("select#realms option").filter(function() {
              return $(this).val() == data.destination_realm; 
          }).prop('selected', true);
          $("select#winner-realms option").filter(function() {
              return $(this).val() == data.winner_realm; 
          }).prop('selected', true);
          $("select#realms").attr('disabled', '');
          $("input#destination-character").val(selectedDestinationCharacter).attr('disabled', '');
          $("input#winner-character").val(selectedWinnerCharacter);
          $("textarea#reward").text(reward);
          $("textarea#description").text(description);
          $("select#player-characters option").filter(function() {
              return $(this).val() == data.region + '|' + data.source_realm + '|' + data.source_character; 
          }).prop('selected', true);
          $("select#bounty-status option").filter(function() {
              return $(this).val() == data.status; 
          }).prop('selected', true);
          $("div#bounty-status-box").removeClass("hidden");
          if (isPrivate)
            $("input#is-private-input").prop('checked', true);

          if (selectedStatus == "2") {
            $("div#winner-box").removeClass("hidden");
          }
          $("select#winner-realms").chosen();

        });
      },
      error: function(xhr, status, err) {
        console.error("/api/bounty/" + id, status, err.toString());
      }
    });
  };

  function getPlayerCharacters(callback) {
    $.ajax({
      url: "/api/player-characters",
      dataType: 'json',
      success: function(data) {
        $.map(data, function(val) {
          $("select#player-characters").append(
            "<option value=\"" + val.region + "|" + val.normalized_realm +
            "|"  + val.name + "\">" + val.name + " - " + val.realm +
            " (" + val.class_display + ") (" + val.level + ") (" + val.faction_display + ")</option>");
        });
        $("div#loading").addClass("hidden");
        $("select#player-characters").removeClass("hidden");
        $("label#player-characters-label").removeClass("hidden");
        if (callback)
          callback();
      },
      error: function(xhr, status, err) {
        console.error("/api/player-characters", status, err.toString());
      }
    });  
  };

  function getRealms(region, callback) {
    $.ajax({
      url: "/api/realms?region=" + region,
      dataType: 'json',
      success: function(data) {
        $("select#realms").text('');
        $.map(data, function(val) {
          $("select#realms").append(
            "<option value=\"" + val.slug + "\">" + val.name + "</option>");
        });
        $.map(data, function(val) {
          $("select#winner-realms").append(
            "<option value=\"" + val.slug + "\">" + val.name + "</option>");
        });
        if (selectedDestinationRealm) {
          $("select#realms option").filter(function() {
            return $(this).val() == selectedDestinationRealm; 
          }).prop('selected', true);  
        };
        if (selectedWinnerRealm) {
          $("select#winner-realms option").filter(function() {
              return $(this).val() == selectedWinnerRealm; 
          }).prop('selected', true);
        };
        $("select#realms").removeClass("hidden");
        $("label#realms-label").removeClass("hidden");
        $("input#destination-character").removeClass("hidden");
        $("label#destination-character-label").removeClass("hidden");
        $("textarea#reward").removeClass("hidden");
        $("label#reward-label").removeClass("hidden");
        $("textarea#description").removeClass("hidden");
        $("label#description-label").removeClass("hidden");
        $("button#save").removeClass("hidden");
        $(".help").removeClass("hidden");
        $("div#is-private").removeClass("hidden");
        if (callback)
          callback();
      },
      error: function(xhr, status, err) {
        console.error("/api/realms?region=" + region, status, err.toString());
      }
    }); 
  };

  function checkFields() {
    selectedDestinationRealm = $("select#realms").val();
    selectedDestinationCharacter = $("input#destination-character").val();
    selectedWinnerRealm = $("select#winner-realms").val();
    selectedWinnerCharacter = $("input#winner-character").val();
    reward = $("textarea#reward").val();
    description = $("textarea#description").val();
    selectedStatus = $("select#bounty-status").val();
    isPrivate = $("input#is-private-input").prop('checked');

    var errorMessage = '';
    if (!selectedRegion)
      errorMessage += '\n- {% trans "Missing region" %}';
    if (!selectedSourceRealm || !selectedSourceCharacter)
      errorMessage += '\n- {% trans "Your character is missing" %}';
    if (!selectedDestinationRealm)
      errorMessage += '\n- {% trans "Missing target realm" %}';
    if (!selectedDestinationCharacter )
      errorMessage += '\n- {% trans "Missing target name" %}';
    if (!reward)
      errorMessage += '\n- {% trans "Missing reward" %}';
    if (!description)
      errorMessage += '\n- {% trans "Missing description" %}';

    if (errorMessage) {
      return "{% trans 'Bounty is incorrect' %}:\n" + errorMessage;
    }
  }

  function updateBounty() {
    $("button#save").button("loading");
    var errors = checkFields();
    if (errors) {
      alert(errors);
      $("button#save").button("reset");
      return;
    }

    var bounty = {
      region: selectedRegion,
      source_realm: selectedSourceRealm,
      source_character: selectedSourceCharacter,
      destination_realm: selectedDestinationRealm,
      destination_character: selectedDestinationCharacter,
      description: description,
      reward: reward,
      status: selectedStatus,
      is_private: isPrivate,
    };

    if (selectedStatus == "2") {
      bounty.winner_realm = selectedWinnerRealm;
      bounty.winner_character = selectedWinnerCharacter;
    }
    $.ajax({
      url: "/api/bounty/" + getUrlParameter('update'),
      dataType: 'json',
      type: 'POST',
      data: bounty,
      success: function(data) {
        window.location = "/bounty/" + data.id;
      },
      error: function(xhr, status, err) {
        var jsonResponse = $.parseJSON(xhr.responseText)
        var errorMessage = '';
        if (jsonResponse.reasons) {
          $.map(jsonResponse.reasons, function(val) {
            errorMessage += '\n- ' + val;
          })
        }
        if (!errorMessage)
          errorMessage = '\n- {% trans "Unknown error" %}';

        alert("{% trans 'Bounty is incorrect' %}:\n" + errorMessage);
        console.error("/api/bounty/" + getUrlParameter('update'), status, err.toString());
        $("button#save").button("reset");
      }
    }); 
  }

  function saveBounty() {
    $("button#save").button("loading");
    var errors = checkFields();
    if (errors) {
      alert(errors);
      $("button#save").button("reset");
      return;
    }


    var bounty = {
      region: selectedRegion,
      source_realm: selectedSourceRealm,
      source_character: selectedSourceCharacter,
      destination_realm: selectedDestinationRealm,
      destination_character: selectedDestinationCharacter,
      description: description,
      reward: reward,
      is_private: isPrivate,
    }
    $.ajax({
      url: "/api/bounty",
      dataType: 'json',
      type: 'POST',
      data: bounty,
      success: function(data) {
        window.location = "/bounty/" + data.id;
      },
      error: function(xhr, status, err) {
        var jsonResponse = $.parseJSON(xhr.responseText)
        var errorMessage = '';
        if (jsonResponse.reasons) {
          $.map(jsonResponse.reasons, function(val) {
            errorMessage += '\n- ' + val;
          })
        }
        if (!errorMessage)
          errorMessage = '\n- {% trans "Unknown error" %}';

        alert("{% trans 'Bounty is incorrect' %}:\n" + errorMessage);
        console.error("/api/bounty", status, err.toString());
        $("button#save").button("reset");
      }
    }); 
  };

  $(function() {
    // Init choosen
    // When select character
    $("select#player-characters").change(function() {
      var character = $(this).val()
      selectedRegion = character.split('|')[0];
      selectedSourceRealm = character.split('|')[1];
      selectedSourceCharacter = character.split('|')[2];
      getRealms(selectedRegion, function() {
        $("select#realms").chosen();
        $("select#realms").trigger('list:updated');;
      });
    });
    // When change status
    $("select#bounty-status").change(function() {
      // If bounty is set to closed, display winner input
      if ($(this).val() == "2") {
        $("div#winner-box").removeClass("hidden");
      } else {
        $("div#winner-box").addClass("hidden");
      }
    });

    getPlayerCharacters(function() {
      $("select#player-characters").chosen();
      if (getUrlParameter('update')) {
        loadBounty(getUrlParameter('update'));
        $("form#bounty-form").submit(function(e) {
          e.preventDefault();
          updateBounty();
        });
        $("button#save").click(function(e) {
          e.preventDefault();
          updateBounty();
        });
      } else {
        $("form#bounty-form").submit(function(e) {
          e.preventDefault();
          saveBounty();
        });
        $("button#save").click(function(e) {
          e.preventDefault();
          saveBounty();
        });
      }
    });
  });
</script>
{% endblock %}
