{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form id="comment-form">
  <label id="player-characters-label" for="player-characters">
    {% trans "Your character" %}
  </label>
  <select class="form-control" id="player-characters">
    <option value="">---</option>
    {% for character in characters %}
    	<option value="{{ character.region }}|{{ character.normalized_realm }}|{{ character.name }}" {% if character.name == comment.character_name and character.normalized_realm == comment.character_realm %} selected{% endif %}>{{ character.name }} - {{ character.realm }} ({{ character.class_display }}) ({{ character.level }}) ( {{ character.faction_display }})</option>
    {% endfor %}
  </select>
  <br>
  <br>
  <label for="reward" id="comment-input-label">
    {% trans "Comment" %}
  </label>
  <small class="help">
    <p class="help-block">{% trans "Markdown allowed but images and raw html won't be rendered:" %} *<i>italic</i>*, **<b>bold</b>**, [link](http://www.google.com)</p>
  </small>
  <textarea
      class="form-control"
      id="comment-input"
      rows="10"
      cols="50">{{ comment.text }}</textarea>
  <br>
  <div class="pull-right">
  	<a href="{% url 'bounty-detail' bounty.id %}#comments" class="btn btn-link">{% trans "Return to bounty" %}</a>
  	<button class="btn btn-success" data-loading-text="{% trans 'Loading...' %}" id="comment-save">
    	{% trans "Save" %}
  	</button>
  </div>
</form>
{% endblock %}

{% block javascripts %}
<script>
	function updateComment() {
    $("button#comment-save").button("loading");
    var character = $("select#player-characters").val()
    var characterRealm = character.split('|')[1];
    var characterName = character.split('|')[2];
    var comment = $("textarea#comment-input").val();

    var errorMessage = '';
    if (!characterName || !characterRealm)
      errorMessage += '\n- {% trans "Need a character to comment." %}';
    if (!comment)
      errorMessage += '\n- {% trans "Comment can not be empty." %}';
    if (errorMessage) {
      alert("{% trans 'Comment is incorrect' %}:\n" + errorMessage);
      $("button#comment-save").button("reset");
      return;
    }

    var comment = {
      character_name: characterName,
      character_realm: characterRealm,
      comment: comment,
    }

    $.ajax({
    	url: "{% url 'api-comment-detail' bounty.id comment.id %}",
      dataType: 'json',
      type: 'POST',
      data: comment,
      success: function(data) {
        window.location = "{% url 'bounty-detail' bounty.id %}";
      },
      error: function(xhr, status, err) {
        var jsonResponse = $.parseJSON(xhr.responseText)
        var errorMessage = '';
        if (jsonResponse.reasons) {
          $.map(jsonResponse.reasons, function(val) {
            errorMessage += '\n- ' + val;
          })
        }
        if (jsonResponse.reason) {
          errorMessage += '\n- ' + jsonResponse.reason;
        }
        if (!errorMessage)
          errorMessage = '\n- {% trans "Unknown error" %}';

        alert("{% trans 'Comment is incorrect' %}:\n" + errorMessage);
        console.error("{% url 'api-comment-detail' bounty.id comment.id %}", status, err.toString());
        $("button#comment-save").button("reset");
      }
    }); 
  };
  $(function() {
    $("#player-characters").chosen({no_results_text: "{% trans 'Oops, no character found!' %}"});
		$("button#comment-save").click(function(e) {
      e.preventDefault();
      updateComment();
    });
  });
</script>
{% endblock %}