{% extends "base.html" %}

{% block content %}
<form action="{% url "bounties-add" %}" method="POST">
	{% csrf_token %}

	<label for="region">Bounty region</label>
	<select id="region" name="region">
		<option></option>
		{% for region in regions %}
  			<option value="{{ region.slug }}">{{ region.name }}</option>
  		{% endfor %}
	</select>

	<!-- Source -->
	<label style="display:none" id="source_character_label" for="source_character" style="display:none">Your character</label>
	<select style="display:none" id="source_character" name="source"></select>
	<!-- END Source -->

	<!-- Destination -->
	<label style="display:none" id="destination_realm_label" for="destination_realm" style="display:none">Target realm</label>
	<select style="display:none" id="destination_realm" name="destination_realm"></select>
	<label style="display:none" id="destination_character_label" for="source_character" style="display:none">Target name</label>
	<input style="display:none" type="text" id="destination_character" name="destination_character" />
  	<button id="save_bounty" type="submit">Save</button>
</form>

<a href="{% url "bounties-list" %}">back to list</a>

<script type="text/javascript">
	$("select#region").change(function() {
		// Loading player characters for this specific region
		$.get("/api/player-characters.json?region=" + $(this).val(), function(data) {
			console.log('SUCCESS');
			$.each(data, function(key, val) {
				$("select#source_character").append(
					"<option value=\"" + val.name + "-" + val.realm + "\">" + val.name + "(" + val.level + ") - " + val.realm + "</option>");
	        });
	        $("label#source_character_label").css('display', 'block');
	        $("select#source_character").css('display', 'block');
		});

		// Loading all realms for this specific region
		$.get("/api/realms.json?region=" + $(this).val(), function(data) {
			console.log('SUCCESS');
			$("select#destination_realm").append("<option></option>");
			$.each(data, function(key, val) {
	        	$("select#destination_realm").append(
	        		"<option value=\"" + val.slug + "\">" + val.name + "</option>");
	        });
	        $("select#destination_realm").css('display', 'block');
	        $("label#destination_realm_label").css('display', 'block');
		})
			.fail(function (data) {
				console.log('ERROR', data);
			});
	});
	$("select#destination_realm").change(function() {
		$("label#destination_character_label").css('display', 'block');
		$("input#destination_character").css('display', 'block');
	});

</script>
{% endblock %}
