
<form action="{% url "bounties-new" %}" method="POST">
	{% csrf_token %}
	<select id="source_region">
		{% for region in regions %}
  		<option value="{{region.slug }}">{{ region.name }}</option>
  	{% endfor %}
	</select>
	{% if realms %}
		<select id="source_realm">
			{% for realm in realms %}
  			<option value="{{realm.slug }}">{{ realm.name }}</option>
  		{% endfor %}
		</select>
	{% endif %}
	<select id="destination_region">
		{% for region in regions %}
  		<option value="{{region.slug }}">{{ region.name }}</option>
  	{% endfor %}
	</select>
	{% if realms %}
		<select id="destination_realm">
			{% for realm in realms %}
  			<option value="{{realm.slug }}">{{ realm.name }}</option>
  		{% endfor %}
		</select>
	{% endif %}
  <input id="save_bounty" type="submit" value="Save" />
</form>

<a href="{% url "bounties-list" %}">back to list</a>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
	$("#source_region").change(function() {
		$.get("https://" + $(this).val() + ".battle.net/api/wow/realm/status", function(data) {
			console.log(data);
		});
	})
</script>