{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
{% if bounty %}
  <h1>
    {% trans "Bounty" %} <small>{% trans "on" %} {{ bounty.destination_character }} - {{ bounty.destination_realm_display }} - {{ bounty.destination_guild }}</small>
    {% if bounty.user == user.pk %}
      <a class="btn btn-warning btn-xs" href="{% url 'bounty-add' %}?update={{ bounty.id }}">{% trans "Edit" %}</a>
    {% endif %}
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="panel {% if bounty.destination_faction == 0 %}panel-info{% elif bounty.destination_faction == 1 %}panel-danger{% else %}panel-default{% endif %}">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Details" %}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <a href="{{ bounty.destination_armory }}" target="_blank">
                <img class="pull-left" src="{{ bounty.destination_thumbnail }}">
              </a>
            </div>
            <div class="col-md-10">
              <dl class="dl-horizontal bounty-detail">
                <dt>{% trans "Added" %}</dt>
                <dd>{{ bounty.added_date|date:"D d M Y" }} {{ bounty.added_date|time:"H:i" }}</dd>
                <dt>{% trans "Updated" %}</dt>
                <dd>{{ bounty.updated_date|date:"D d M Y" }} {{ bounty.updated_date|time:"H:i" }}</dd>
                <dt>{% trans "Region" %}</dt>
                <dd><span class="label label-default">{{ bounty.region_display }}</span></dd>
                <dt>{% trans "Status" %}</dt>
                <dd>
                  {% if bounty.status == 1 %}
                    <span class="label label-success">{{ bounty.status_display }}</span>
                  {% elif bounty.status == 2 %}
                    <span class="label label-danger">{{ bounty.status_display }}</span>
                  {% elif bounty.status == 3 %}
                    <span class="label label-default">{{ bounty.status_display }}</span>
                  {% endif %}
                </dd>
                <dt>{% trans "Author" %}</dt>
                <dd><a class="character-armory-link" href="{{ bounty.source_armory }}">{{ bounty.source_character }} - {{ bounty.source_realm_display }} - {{ bounty.source_guild }}</a> <span class="label {% if bounty.source_faction == 0 %}label-info{% elif bounty.source_faction == 1 %}label-danger{% else %}label-default{% endif %}">{{ bounty.source_faction_display }}</span> <span class="label label-default">{{ bounty.source_class_display }}</span></dd>
                <dt>{% trans "Target" %}</dt>
                <dd><a class="character-armory-link" href="{{ bounty.destination_armory }}">{{ bounty.destination_character }} - {{ bounty.destination_realm_display }} - {{ bounty.destination_guild }}</a> <span class="label {% if bounty.destination_faction == 0 %}label-info{% elif bounty.destination_faction == 1 %}label-danger{% else %}label-default{% endif %}">{{ bounty.destination_faction_display }}</span> <span class="label label-default">{{ bounty.destination_class_display }}</span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel {% if bounty.destination_faction == 0 %}panel-info{% elif bounty.destination_faction == 1 %}panel-danger{% else %}panel-default{% endif %}">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Reward" %}</h3>
        </div>
        <div class="panel-body" id="bounty-reward">{{ bounty.reward|safe }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel {% if bounty.destination_faction == 0 %}panel-info{% elif bounty.destination_faction == 1 %}panel-danger{% else %}panel-default{% endif %}">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Description" %}</h3>
        </div>
        <div class="panel-body" id="bounty-description">{{ bounty.description|safe }}</div>
      </div>
    </div>
  </div>
  <hr>
  <div id="comments">
    <h3>{% trans "Comments" %} <small>{% if bounty.comments.count %}({{ bounty.comments.count }}){% endif %}</small></h3> 
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#addCommentCollapse" aria-expanded="false" aria-controls="  collapseExample">
      {% trans "Add a comment" %} <span class="caret"></span>
    </button>
    <div class="collapse" id="addCommentCollapse">
      <br>
      {% if user.is_authenticated %}
        <form id="comment-form" style="display:none">
          <label id="player-characters-label" for="player-characters">
            {% trans "Your character" %}
          </label>
          <select class="form-control" id="player-characters">
            <option value="">---</option>
          </select>
          <br>
          <label for="reward" id="comment-input-label">
            {% trans "Comment" %}
          </label>
          <small class="help">
            <p class="help-block">{% trans "Markdown allowed but images and raw html won't be rendered." %}</p>
          </small>
          <textarea
              class="form-control"
              id="comment-input"
              rows="4"
              cols="50"></textarea>
          <br>
          <div id="g-captcha" class="pull-left g-recaptcha" data-sitekey="{{ RECAPTCHA_KEY }}"></div>
          <button class="btn btn-success pull-right" data-loading-text="{% trans 'Loading...' %}" id="comment-save">
            {% trans "Publish" %}
          </button>
          <div class="clearfix"></div>
        </form>
      {% else %}
        <p>{% trans "You need to be logged in to post a comment." %}</p>
      {% endif %}
      <hr>
    </div>
    <br>
    <br>
    {% for comment in bounty.comments.objects %}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ comment.character_name }} - {{ comment.character_realm_display }}
          <small>{{ comment.added_date|date:"D d M Y" }} {{ comment.added_date|time:"H:i" }}</small>
        </div>
        <div class="panel-body comment-body">
          <div class="media">
            <div class="media-left media-top">
              <a href="{{ comment.character_armory }}" target="_blank">
                <img class="media-object" src="{{ comment.character_thumbnail }}" style="height:60%; width:auto;">
              </a>
            </div>
            <div class="media-body comment-text">{{ comment.text|safe }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% trans "Bounty not found." %}</p>
{% endif %}
{% endblock %}

{% block javascripts %}
  <script>
    $(function() {
      function saveComment() {
        $("button#comment-save").button("loading");
        var character = $("select#player-characters").val()
        var characterRealm = character.split('|')[1];
        var characterName = character.split('|')[2];
        var comment = $("textarea#comment-input").val();
        var captcha = $("#g-recaptcha-response").val();

        var errorMessage = '';
        if (!characterName || !characterRealm)
          errorMessage += '\n- {% trans "Need a character to comment." %}';
        if (!comment)
          errorMessage += '\n- {% trans "Comment can not be empty." %}';
        if (!captcha)
          errorMessage += '\n- {% trans "Missing captcha." %}';
        if (errorMessage) {
          alert("{% trans 'Comment is incorrect' %}:\n" + errorMessage);
          $("button#comment-save").button("reset");
          return;
        }

        var comment = {
          character_name: characterName,
          character_realm: characterRealm,
          comment: comment,
          captcha: captcha,
        }

        $.ajax({
          url: "/api/bounty/{{ bounty.id }}/comment",
          dataType: 'json',
          type: 'POST',
          data: comment,
          success: function(data) {
            window.location = "/bounty/{{ bounty.id }}";
          },
          error: function(xhr, status, err) {
            var jsonResponse = $.parseJSON(xhr.responseText)
            var errorMessage = '';
            if (jsonResponse.reasons) {
              $.map(jsonResponse.reasons, function(val) {
                errorMessage += '\n- ' + val;
              })
            }
            if (jsonResponse.reason) {
              errorMessage += '\n- ' + jsonResponse.reason;
            }
            if (!errorMessage)
              errorMessage = '\n- {% trans "Unknown error" %}';

            alert("{% trans 'Comment is incorrect' %}:\n" + errorMessage);
            console.error("/api/bounty/{{ bounty.id }}/comment", status, err.toString());
            $("button#comment-save").button("reset");
          }
        }); 
      };

      function getPlayerCharacters(callback) {
        $.ajax({
          url: "/api/player-characters",
          dataType: 'json',
          success: function(data) {
            $.map(data, function(val) {
              $("select#player-characters").append(
                "<option value=\"" + val.region + "|" + val.normalized_realm +
                "|"  + val.name + "\">" + val.name + " - " + val.realm +
                " (" + val.level + ") </option>");
            });
            $("form#comment-form").css("display", "block");
            if (callback)
              callback();
          },
          error: function(xhr, status, err) {
            console.error("/api/player-characters", status, err.toString());
          }
        });  
      };

      $("form#comment-form").submit(function(e) {
        e.preventDefault();
        saveComment();
      });
      $("button#comment-save").click(function(e) {
        e.preventDefault();
        saveComment();
      });

      getPlayerCharacters();
    });
  </script>
{% endblock %}
