{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ul
      id="bounty-list"
      style="display:none">
  {% for bounty in bounties %}
    <li>{{ bounty }}</li>
  {% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
<script>
  function getBounties() {
    $.ajax({
      url: "/api/bounty",
      dataType: 'json',
      success: function(data) {
        $.map(data.objects, function(val) {
          $("ul#bounty-list").append(
            "<li>" + "[" + val.region_display + "] " +
            val.destination_character + " - " +
            val.destination_realm_display + "</li>");
        });
        $("ul#bounty-list").css("display", "block");
      },
      error: function(xhr, status, err) {
        console.error("/api/bounty", status, err.toString());
      }
    });  
  };
$(function() {
  getBounties();
});
</script>
{% endblock %}
