{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <label id="bounty-status-label" for="status">{% trans "Status" %}</label>
      <select class="form-control" id="bounty-status">
        <option value="all" selected>---</option>
        <option value="1">{% trans "Open" %}</option>
        <option value="2">{% trans "Closed" %}</option>
        <option value="3">{% trans "Cancelled" %}</option>
      </select>
      <br>
      <label id="regions-label" for="region">{% trans "Region" %}</label>
      <select class="form-control" id="regions">
        <option value="all" selected>---</option>
        <option value="eu">{% trans "Europe" %}</option>
        <option value="us">{% trans "US" %}</option>
      </select>
      <br>
    </div>
    <div class="col-md-6">
      <label id="realms-label" for="realms">{% trans "Target realm" %}</label>
      <select class="form-control" id="realms">
        <option value="all">---</option>
      </select>
      <br>
      <label id="destination-character-label" for="destination-character">{% trans "Target name" %}</label>
      <input id="destination-character" class="form-control" type="text" />
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label id="factions-label" for="factions">{% trans "Target faction" %}</label>
      <select class="form-control" id="factions">
        <option value="all">---</option>
        <option value="0">{% trans "Alliance" %}</option>
        <option value="1">{% trans "Horde" %}</option>
      </select>
      {% if user.is_authenticated %}
        <div class="checkbox">
          <label><input id="is-private-input" type="checkbox"> {% trans "Show only your bounties" %}</label>
        </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <br>
      <button class="btn btn-success btn-lg pull-right" id="search">
        {% trans "Search me bounties!" %}
      </button>
    </div>
  </div>

  <hr>

  <ul class="list-group">
  {% for bounty in bounties %}
    {% with bounty.destination_faction as faction %}
      <li class="list-group-item clearfix {% if faction == 0 %}character-alliance{% elif faction == 1 %}character-horde{% else %}character-neutral{% endif %}">
    {% endwith %}
    <strong>{{ bounty.destination_character }}</strong> - {{ bounty.destination_realm_display }}{% if bounty.destination_guild %}<span class="hidden-xs hidden-sm"> - {{ bounty.destination_guild }}</span>{% endif %} <span class="label label-default hidden-xs hidden-sm">{{ bounty.region|upper }}</span> <span class="label label-default hidden-xs">{% trans "by" %} {{ bounty.source_character }} - {{ bounty.source_realm_display }}{% if bounty.source_guild %}<span class="hidden-sm hidden-md"> - {{ bounty.source_guild }}</span>{% endif %}</span> 
    {% if bounty.status == 1 %}
      <span class="label label-success">{{ bounty.status_display }}</span>
    {% elif bounty.status == 2 %}
      <span class="label label-danger">{{ bounty.status_display }}</span>
    {% elif bounty.status == 3 %}
      <span class="label label-default">{{ bounty.status_display }}</span>
    {% endif %}
    {% if bounty.comments_count %}
      <span class="label label-default">{{ bounty.comments_count }}</span>
    {% endif %}
    <span class="pull-right">
      {% if bounty.is_private %}
        <span class="label label-default">{% trans "Private" %}</span>
      {% endif %}
      {% if bounty.user == user.id %}
        <a class="btn btn-warning btn-xs" href="{% url 'bounty-add' %}?update={{ bounty.id }}">{% trans "Edit" %}</a>
      {% endif %}
      <a class="btn btn-default btn-xs" href="{% url 'bounty-detail' bounty.id %}">{% trans "View" %}</a>
    </span>
    </li>
  {% empty %}
    <p>{% trans "No bounties found..." %}</p>
  {% endfor %}
  </ul>

{% if num_pages > 1 %}
  <nav>
    <ul class="pagination pagination-sm">
      {% if has_previous %}
        <li>
          <a href="?page={{ previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% endif %}
      <li>
        <span class="current">{% trans "Page" %} {{ page }} {% trans "on" %} {{ num_pages }}</span>
      </li>
      {% if has_next %}
        <li>
          <a href="?page={{ next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}
{% endblock %}

{% block javascripts %}
<script>
  var selectedStatus = 'all';
  var selectedFaction = 'all';
  var selectedRegion = null;
  var selectedRealm = null;
  var onlyOwned = false;

  function setRealms(data) {
    $("select#realms").text('').append("<option value=\"all\">---</option>");
    $.map(data, function(val) {
      $("select#realms").append(
        "<option value=\"" + val.slug + "\">" + val.name + "</option>");
    });
    $("select#realms").after('<br>');
    $("select#realms").chosen({no_results_text: "{% trans 'Oops, no realm found!' %}"})
    $("select#realms").trigger('chosen:updated');;
  };

  function updateBounties() {
    selectedStatus = $("select#bounty-status").val();
    selectedRegion = $("select#regions").val();
    selectedRealm = $("select#realms").val();
    selectedFaction = $("select#factions").val();
    destinationCharacter = $("input#destination-character").val();
    onlyOwned = $("input#is-private-input").prop('checked');

    var url = '?'
    params = {}
    if (selectedRegion) {
      params.region = selectedRegion;
      $.cookie('search-region', selectedRegion, {expires: 21});
    };
    if (selectedStatus) {
      params.status = selectedStatus;
      $.cookie('search-status', selectedStatus, {expires: 21});
    };
    if (selectedRealm) {
      params.realm = selectedRealm;
      $.cookie('search-realm', selectedRealm, {expires: 21});
    };
    if (selectedFaction) {
      params.faction = selectedFaction;
      $.cookie('search-faction', selectedFaction, {expires: 21});
    };
    if (destinationCharacter)
      params.destination = destinationCharacter;
    if (onlyOwned)
      params.owned = true;
    window.location = "/bounty/?" + $.param(params, true);
  }

  $(function() {
    // Update form based on url parameters or cookie
    selectedStatus = getUrlParameter('status') || $.cookie('search-status');
    if (selectedStatus) {
      $("select#bounty-status option").filter(function() {
        return $(this).val() == selectedStatus; 
      }).prop('selected', true);
    };

    selectedFaction = getUrlParameter('faction') || $.cookie('search-faction');
    if (selectedFaction) {
      $("select#factions option").filter(function() {
        return $(this).val() == selectedFaction; 
      }).prop('selected', true);
    };

    if (getUrlParameter('destination'))
      $("input#destination-character").val(getUrlParameter('destination'));
    if (getUrlParameter('owned'))
      $("input#is-private-input").prop('checked', true);

    selectedRegion = getUrlParameter('region') || $.cookie('search-region');
    if (selectedRegion) {
      $("select#regions option").filter(function() {
            return $(this).val() == selectedRegion; 
      }).prop('selected', true);
      if (selectedRegion != "all") {
        getRealms(selectedRegion || $("select#regions").val(), function(realms_data) {
          setRealms(realms_data);

          selectedRealm = getUrlParameter('realm') || $.cookie('search-realm');
          if (selectedRealm) {
            $("select#realms option").filter(function() {
              if ($(this).val() == selectedRealm)
                return $(this).val() == selectedRealm; 
            }).prop('selected', true);
            $("select#realms").trigger('chosen:updated');;
          };
        });
      };
    };
    $("select#regions").change(function() {
      getRealms($(this).val(), function(data) {
        setRealms(data);
      });
    });
    $("button#search").on('click', function() {
      updateBounties();
    });
    $(document).keypress(function(e) {
      if(e.which == 13) {
        updateBounties();
      }
    });
  });
</script>
{% endblock %}
