{% extends "base.html" %}
{% load i18n %}

{% block content %}
	{% blocktrans %}
		<h3 id="0.3">0.3 (Le Écrou) <small>04/29/2015</small></h3>
		<ul>
			<li>You can now create <strong>guild bounties</strong>!</li>
			<li>Filter your search to only show guild bounties</li>
			<li>Add change logs page (this page)</li>
			<li>Version in footer is blinking during 5 days after latest release</li>
			<li>You can disable comments on your bounties</li>
			<li>There is a little staff label on comments when staff users comment</li>
			<li>Links are auto-detected in comments to be clickable</li>
			<li>There is a new favicon!</li>
			<li>You can find a signature link in every bounty pages to copy paste this on your guild forum for example</li>
			<li>Some new options to allow staff users to moderate The Bounty-O-Matic</li>
			<li>Some bug fixes</li>
			<li>Site is faster than ever!</li>
		</ul>
	{% endblocktrans %}
	{% blocktrans %}
		<h3 id="0.2">0.2 (Tron-Tron 2000) <small>04/08/2015</small></h3>
		<ul>
			<li>Add Blizzard copyright in the footer</li>
			<li>Bounties are now ordered by latest update</li>
			<li>Add faction filter on search page</li>
			<li>Add help page</li>
			<li>Add comments counter on search list</li>
			<li>Realm search now search on connected realms</li>
			<li>Website is now full responsive (for mobile)</li>
			<li>You can edit a comment</li>
			<li>Better input for realm selection (auto-completion)</li>
			<li>A new fresh Bounty-O-Matic logo!</li>
			<li>Some cleaning and bug fixes</li>
			<li>Site is faster than ever!</li>
		</ul>
	{% endblocktrans %}
	{% blocktrans %}
		<h3 id="0.1">0.1 (Zappy gnome) <small>04/01/2015</small></h3>
		<ul>
			<li>Comments are now paginated</li>
			<li>Put version and codename in footer</li>
			<li>Add private bounties!</li>
			<li>And all the initial stuff!</li>
			<li>Site is faster than ever because site doesn't exist before this release.</li>
		</ul>
	{% endblocktrans %}
{% endblock %}
