@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Bold-webfont.woff') format('woff'),
         url('../fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic-webfont.eot');
    src: url('../fonts/Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Italic-webfont.woff') format('woff'),
         url('../fonts/Lato-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Italic-webfont.svg#latoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ChangaOne';
    src: url('../fonts/ChangaOne-Regular-webfont.eot');
    src: url('../fonts/ChangaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChangaOne-Regular-webfont.woff2') format('woff2'),
         url('../fonts/ChangaOne-Regular-webfont.woff') format('woff'),
         url('../fonts/ChangaOne-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ChangaOne-Regular-webfont.svg#changa_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}