body {margin-top:100px}
.navbar-default .navbar-nav .active a {
	background-color:#303030;
}
.navbar {background-color:#464545}
.navbar a:hover {
  color: #0ce3ac;
}
.navbar-brand {
  font-family: 'ChangaOne', cursive;
  font-size:150%;
}
.navbar a {
  color: white;
}
.character-horde {
	color:#e74c3c;
}
.character-alliance {
	color:#3498db;
}
.character-neutral {
}
a.character-armory-link {
	color:white;
}
dl.bounty-detail dd,dt{
	line-height: 25px
}
.danger-text {
  color:#e74c3c !important;
  font-weight: bold;
}
.comment-edited {
  font-size: 70%;
}
.footer {
  font-size: 70%;
}
.footer-refresh {
  color: #464545;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}