body {margin-top:100px}
.navbar-default .navbar-nav .active a {
	background-color:#303030;
}
.navbar {background-color:#464545}
.navbar a:hover {
  color: #0ce3ac;
}
.navbar-brand {
  font-family: 'ChangaOne', cursive;
  font-size:150%;
}
.navbar a {
  color: white;
}
.character-horde {
	color:#e74c3c;
}
.character-alliance {
	color:#3498db;
}
.character-neutral {
}
a.character-armory-link {
	color:white;
}
.target{
  width: 30px;
  height: 30px;
  background-image: url('../img/export/target.png');
  position: absolute;
  margin-top: 52px;
  margin-left: 50px;
}
dl.bounty-detail dd,dt{
	line-height: 25px
}
.danger-text {
  color:#e74c3c !important;
  font-weight: bold;
}
.comment-edited {
  font-size: 70%;
}
.pagination>li>span:hover {
  background-color: #00bc8c;
}
.navbar-brand img {
  margin-top: -20px;
}
.footer {
  font-size: 70%;
  margin-bottom: 15px;
}
.footer-refresh {
  color: #464545;
}
div.chosen-container a.chosen-single {
  font-size: 15px;
  height: 43px;
  padding: 3px 15px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
div.chosen-container.chosen-container-active.chosen-with-drop a.chosen-single {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
.chosen-container .chosen-drop {
  margin-top: -3px;
  -webkit-box-shadow: 0px 15px 25px -5px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 15px 25px -5px rgba(0,0,0,0.32);
  box-shadow: 0px 15px 25px -5px rgba(0,0,0,0.32);
  border: 1px solid #f1f1f1;
}
.chosen-container-single .chosen-single div b {
  background: url(../img/chosen-sprite.png) no-repeat 1px 11px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background: url(../img/chosen-sprite.png) no-repeat 1px 11px;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#loading-bar {
  margin-left:0px;
  margin-right:-5px;
  margin-top:13px;
  margin-bottom:-16px;
  height:36px;
  background-color: transparent !important;
}
#loading-bar .progress-bar {
  width:100%;
  padding-top: 10px;
  font-weight:bold;
  font-size:90%;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 12px;
}
@media (max-width: 767px) {
  #loading-bar {
    margin: 0 auto;
  }
}
img.character-thumbnail {
  width: 50px;
  height: 50px;
}

label, button, select, .chosen-results li, .chosen-container, .navbar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chosen-disabled {
  opacity: 1!important;
}
.chosen-disabled > .chosen-single {
  cursor: not-allowed;
  background-color: #ebebeb;
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
