{% load i18n %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
  <title>{% trans "Bounty-O-Matic - Bounties for World of Warcraft" %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="{% trans 'Bounty-O-Matic is a bounties system for World of Warcraft. Post a bounty on a player and find mercenaries to kill him.' %}">
  <meta name="google-site-verification" content="-KyKXaYciXFPQCJ5PsPh8hWXUBtypech3gRIgUzOAw4" />
  <link rel="icon" href="{% static 'bountyomatic/img/favicon.gif' %}" type="image/gif">
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bountyomatic/css/chosen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bountyomatic/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bountyomatic/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bountyomatic/css/custom.css' %}">
  {% endcompress %}
</head>
<body>
	{% include "header.html" %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {% compress js %}
    <script src="{% static 'bountyomatic/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'bountyomatic/js/jquery.cookie-1.4.1.min.js' %}"></script>
    <script src="{% static 'bountyomatic/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'bountyomatic/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bountyomatic/js/utils.js' %}"></script>
    <script src="{% static 'bountyomatic/js/bountyomatic.js' %}"></script>
  {% endcompress %}
	{% block javascripts %}{% endblock %}
  <script>
    $(function() {
      function loadLanguageSwitcher() {
        // Language switcher
        $("ul#language-switcher li a").click(function() {
          var lang = $(this).attr('value');
          var $form = $('<form style="display:none;" action="/i18n/setlang/" method="POST">' +
            "{% csrf_token %}" + 
            '<input type="hidden" name="language" value="' + lang + '">' +
            '</form>');
          $form.appendTo("body").submit();
        });
      };
      loadLanguageSwitcher();
      getPlayerBattletag(function(data) {
        unsetProgressBar(data.battletag);
      });
      // Show blinking version in the footer during 5 days after release
      var now = new Date();
      var latestReleaseDate = new Date(2015,3,29); // Warning, month start at 0
      var stopBlinkingdate = new Date(latestReleaseDate.getTime());
      stopBlinkingdate.setDate(stopBlinkingdate.getDate() + 5);
      // Must be showed
      if (stopBlinkingdate > now)
        $(".footer a.updates").addClass("blink");
      else
        $(".footer a.updates").css("color", "white")
    });
  </script>
  <div class="container footer">
    {% include "footer.html" %}
  </div>
  {% if GOOGLE_ANALYTICS %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
