{% load i18n %}
<div class="row">
	<hr>
	<em>Bounty-O-Matic {% trans "for" %} World of Warcraft {% trans "by" %} Bodoc-Conseil des Ombres (<a href="http://stormwind-legion.fr/" target="_blank">Légion de Stormwind</a>) - contact@bounty-o-matic.com</em><small class="pull-right">{% if user.is_authenticated %}<a id="refresh-link" class="footer-refresh" href="#">{% trans "Refresh your BattleNet data" %}</a> | {% endif %}0.1 (Zappy Gnome)</small>
</div>

<script>
  $(function() {
		$("a#refresh-link").click(function(e) {
			e.preventDefault();
      		setProgressBar("{% trans 'Refreshing your BattleNet data...' %}");
      		$("a#refresh-link").text("");
			$.ajax({
	      url: "/api/player-refresh",
	      type: 'GET',
	      success: function(data) {
	        $("a#refresh-link").text(data.reason);
          	getPlayerBattletag(function(data) {
            unsetProgressBar(data.battletag);
          });
	      },
	      error: function(xhr, status, err) {
	        console.error("/api/player-refresh", status, err.toString());
	      }
	    }); 
		});
	});
</script>