{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">HeadHunter</a>
    </div>
    <div class="collapse navbar-collapse">
    	<ul class="nav navbar-nav navbar-left">
    		{% if user.is_authenticated %}
        		<button disabled="disabled" type="button" class="btn btn-default navbar-btn battletag">{% trans "Loading data from Blizzard..." %}</button>
        	{% endif %}
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
      	{% if not user.is_authenticated %}
  			  <li><a href="{% url 'social:begin' 'battlenet-oauth2' %}">{% trans "Sign in" %}</a></li>
  		  {% else %}
        	<li><a href="{% url 'bounty-list' %}">{% trans "Bounties" %}</a></li>
         	<li>
            <a href="{% url 'bounty-add' %}">
              <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
              {% trans "Add bounty" %}
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Language" %} <span class="caret"></span></a>
            <ul id="language-switcher" class="dropdown-menu" role="menu">
              {% for lang in LANGUAGES %}
                <li><a href="#" value="{{ lang.0 }}">{{ lang.1 }}</a></li>
              {% endfor %}
            </ul>
          </li>
        	<li>
            <a href="{% url 'logout' %}">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                {% trans "Logout" %}
            </a>
          </li>
  		  {% endif %}
      </ul>
    </div>
  </div>
 </nav>
